<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if students %}
    <br> students exits
    
    {% for student in students %}
    <br> {{student.id}}
    {% empty %}
    <br> No students
    {% endfor %}

    {% else %}
    <br> No students
    {% endif %}

    {% if messages %}
    {% for message in messages %}
    <br> {{message}}
    {% endfor %}
    {% else %}
    <br> No messages
    {% endif %}

</body>

</html>